/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* Variables */
:root {
  /* Couleurs Principales */

  --color-secondary: #121212;
  --color-text: #000000;
  --color-background: #f9f5ed;

  /*Polices  */

  --font-primary: "DM Sans", sans-serif;
  --font-Titre: "Lora", serif;
  /*taille du texte */

  --text-base: 0.8rem;
  --text-lg: 1.2rem;

  /*taille de conteneurs */
  --conteneur-width: 90%;
  --container-max-width: 1200px;
}

/* CSS PAGE ACCUEIL */
/* header */
header {
  min-height: 70px;
  border-bottom: 2px solid var(--color-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--color-background);
}
header h1 {
  font-size: var(--text-lg);
  font-family: var(--font-Titre);
  font-weight: 700;
  font-style: italic;
  cursor: pointer;
}
header h1:hover {
  color: black;
}
header a {
  text-decoration: none;
  color: var(--color-text);
}
/* main */

/* Presentation */

.presentation {
  background-image: url(Images/pexels-machine.webp);
  height: 80vh;
  background-size: cover;
  opacity: 1.2;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.button a {
  background-color: var(--color-background);
  padding: 0.55rem 0.8rem !important;
  border: 1px solid var(--color-text);
  margin: 10px;
  border-radius: 25px;
  font-weight: bold;
  font-size: var(--text-base);
  text-decoration: none;
  color: #000000;
}
.presentation h1 {
  color: var(--color-background);
  text-align: center;
}
.presentation p {
  color: var(--color-background);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}
.button {
  display: flex;
  font-size: 0.5rem;
  cursor: pointer;
}

.button a:hover {
  background-color: brown;
}

/* MAIN */
main {
  flex: 1;
}

/*footer*/
footer {
  border-top: 2px solid var(--color-secondary);
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 0.2rem;

  padding: 0.5rem 1rem;
  font-size: var(--text-base);
}
footer a {
  text-decoration: none;
  color: #000000;
  text-align: center;
  cursor: pointer;
  margin: 1rem;
  font-size: 0.4rem;
}
footer p {
  text-align: center;
  font-size: 0.6rem;
}

/* MENU MOBILE NAV */

#burger {
  cursor: pointer;
}
#mobile-menu {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-background);
  position: absolute;
  overflow-x: hidden;
  transform: translateX(-100%);
  transition: 0.4s ease-in-out;

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.5rem;
}
#mobile-menu li a.active {
  color: brown;
}

#mobile-menu li {
  list-style: none;
  cursor: pointer;
}

#mobile-menu.show {
  transform: translateX(0);
}
#mobile-menu li {
  font-size: 1.5rem;
}
#mobile-menu.show li a:hover {
  color: brown;
}

#mobile-menu.show i:hover {
  color: brown;
}

/* PAGE FORMULAIRE */

/* ETAPE 1 */
.container {
  border: 1px solid yellow;
  padding: 0.5rem 0.5rem;
  font-family: var(--font-primary);
  font-style: italic;
  font-size: var(--text-base);
}

.container h2 {
  font-family: "Red Hat Mono", monospace;
  font-size: var(--text-lg);
  text-align: center;
  margin: 1rem;
}
#choix-lieu {
  display: flex;
  gap: 1rem;
  margin: 1rem;
}
.choix-btn {
  padding: 0.4rem 0.5rem;
  border: 1px solid #ccc;
  background-color: var(--color-background);
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}
.choix-btn.active {
  background-color: brown;
  color: #ccc;
  border-color: brown;
}

.section {
  display: none;
  padding: 0.5rem 0.5rem;
  border: 3px solid salmon;
}
.section.active {
  display: block;
}
.section input {
  border-radius: 0.5rem;
  padding: 0.3rem;
}
#info-exterieur {
  display: none;
}
#info-exterieur.active {
  display: block;
  border: 1px solid purple;
}
.croix {
  font-style: normal;
  cursor: pointer;
}

.lieu-sauvegarde-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
}
.lieu-sauvegarde-text {
  font-size: var(--text-lg);
  font-family: var(--font-Titre);
  padding: 0.5rem;
  color: brown;
}

.form-step button {
  padding: 0.4rem 0.5rem;
  border: 1px solid #ccc;
  background-color: var(--color-background);
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

/* ETAPE 2 */

#preparation-cafe {
  display: none;
  gap: 0.4rem;
}
#preparation-cafe button {
  padding: 0.4rem 0.5rem;
  border: 1px solid #ccc;
  background-color: var(--color-background);
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}
#preparation-cafe.active {
  display: block;
}

#preparation-cafe button.active {
  display: block;
  background-color: brown;
  color: #ccc;
}

.differente-prepa {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
}

#marque-cafe.active {
  display: block;
  display: flex;
}
#choix-prepa {
  display: block;
  background-color: yellow;
  color: #ccc;
}
#choix-prepa.active {
  display: block;
  background-color: brown;
  color: #ccc;
}

/* Validation marque */

.NouveauCafe {
  border: 1px solid purple;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
}
/* ETAPE 3 */
#degustation {
  display: none;
  gap: 0.4rem;
  border: 1px solid blue;
}
#degustation.active {
  display: block;
}

/* AVANT BOUCHE */

#avant-bouche {
  display: none;
}
#avant-bouche.active {
  display: block;
}
.section-avant-bouche {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
  border: 1px solid green;
}
#avant-bouche h3 {
  text-align: center;
  margin: 0.2rem;
  color: brown;
}
#avant-bouche button {
  padding: 0.4rem 0.5rem;
  border: 1px solid #ccc;
  background-color: var(--color-background);
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}
.btn-arome {
  background-color: var(--color-background);
}
#avant-bouche .btn-arome.active {
  background-color: brown;
  color: #ccc;
  border-color: brown;
}
/* MEDIA QUERIE LAPTOP 768px */

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #burger {
    display: none;
  }
  #mobile-menu {
    display: flex;
    position: static;
    transform: none;
    flex-direction: row;

    align-items: center;
  }
  #mobile-menu ul {
    display: flex;
    flex-direction: row;

    list-style: none;
    gap: 2rem;
  }
  #mobile-menu ul li {
    font-size: var(--text-base);
  }

  #mobile-menu ul li a:hover {
    color: brown;
    cursor: pointer;
  }

  #CloseNav {
    display: none;
  }

  /* MAIN LAPTOP */

  main {
    max-width: 70ch; /* Largeur basée sur ~70 caractères, lisible */
    padding: 1rem 5vw; /* Padding responsive avec l’écran */
    margin: 1rem auto;
  }
  .presentation {
    background-image: url(Images/pexels-machine.webp);
    object-fit: cover;
    background-size: cover; /* Remplit l’espace sans déformation */
    background-position: center; /* Centre l’image */
    background-repeat: no-repeat; /* Pas de répétition */
    background-attachment: scroll;
  }
}
